.formsubmission {
  font: italic bold 0.8em/1.2 Arial, sans-serif;
}

.formtext {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-style: bold;
  float: left;
}

body {
  margin: 0;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.flex-box-section {
  width: 80%;
  margin: 2% auto 1% auto;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  flex-wrap: wrap;
  position: relative;
  height: fit-content;
}

.small-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
}

.large-circle {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: absolute;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

#circle-1 {
  top: 4%;
  left: 5%;
}

#circle-2 {
  bottom: 0;
  left: 5%;
}

#circle-3 {
  top: 10%;
  left: 40%;
}

#circle-4 {
  bottom: -40%;
  left: 15%;
  z-index: 1;
}

#circle-5 {
  bottom: -3rem;
  left: calc(33% - 3rem);
  z-index: 1;
}

.small-box {
  height: 40vh;
  min-width: 150px;
  background-color: aqua;
  margin-bottom: 1%;
  flex: 1 1 31%;
}

.large-box {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
  position: relative;
}

.large-triangle {
  height: 0;
  width: 0;
  border-left: 11rem solid transparent;
  border-right: 11rem solid transparent;
  border-bottom: 25rem solid #000;
  position: absolute;
  bottom: 0;
  right: 11rem;
}

.small-triangle {
  height: 0;
  width: 0;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-bottom: 20rem solid #000;
  position: absolute;
  bottom: 0;
  right: 0;
}

section {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 2%;
}

@media (max-width: 1025px) {
  .small-triangle,
  .large-triangle {
  }
}

@media (max-width: 580px) {
  #circle-2 {
    bottom: 50%;
  }
}
